body {
    margin:0px;
    padding:0px;
}

 #container{
            position:absolute;
            width:20%;
            height:80%;
            background:#333333;
            top: 80px;
            left: 504px;
            border:20px solid #66cc66;
            border-radius:12px;

        }

 #lblMessage{
     position:absolute;
 }

        body{
            padding:0px;
            margin:0px;
            background:#333333;
        }
        

        #lblUserName{
            position:absolute;
            color:white;
            font-size:22px;
            top: 276px;
            left: 88px;
        }

        #lblPassword{
             position:absolute;
            top: 356px;
            left: 84px;
            color:white;
            font-size:22px;
        }

        #txtUserName{
             position:absolute;
            top: 390px;
            left: 35px;
            width:200px;
             height:20px;
             
        }

        #txtPassword{
             position:absolute;
             width:200px;
             height:20px;
            top: 307px;
            left: 36px;
        }
        #btnLogIn{
            width:200px;
            height:44px;
        }

        #logo{
            position:absolute;
            width:229px;
            height:96px;
            background:url(/Images/logo_white2.png);
            background-size:100% 100%;
            top: 131px;
            left: 18px;
        }

        .btnLogIn{
             border-style: none;
            border-color: inherit;
            border-width: medium;
            background: #4CAF50;
            padding: 15px 25px;
            font-size: 28px;
	         text-align: center;
	         cursor: pointer;
	         outline: none;
	         color: #fff;
	         border-radius: 15px;
	         box-shadow: 0 6px #999;
	         position:absolute;
            top: 431px;
            left: 36px;
        }

        .btnLogIn:hover{
            background-color: #3e8e41
        }

        .btnLogIn:active{
             background-color: #3e8e41;
             box-shadow: 0 2px #666;
             transform: translateY(4px);
        }
