/*#body{

    margin:0px;
}
.gvRow:hover{
            background-color: #32E236;
            color:white;
            fill:#32E236;
}
.gvRowAlt:hover{
            background-color: #32E236;
            color:white;
            fill:#32E236;       
}
.gvRowAlt{
            background-color: #C6F5B8;
            color:black;
            fill:#C6F5B8; 
}*/
