*{
    box-sizing: border-box;
}

body {
 
    position:relative;
    left:0;
    top:0;
    margin:0;
    padding:0;
    border:none;
}


#form1 #main-sidebar{   
    background:rgb(0,90,0) url(/Images/greenmetallic.jpg) repeat-y; 
   position:fixed;   
    padding:0%;
    margin:0;
    border:none;
    height:100%;
    z-index:0;
    width:10%;
    border-bottom-right-radius:10%;
    border-top-right-radius:10%;
}
.main-sidebar-top-logo{
    
    max-width: 100%;
    height: auto;
}



.main-sidebar-menu-list{
position:absolute;
top:40%;
list-style:none;
width:100%;
padding:0%;
margin:0;
}
.main-sidebar-menu-list-item{
 width:100%;
border-bottom:solid white  1px;


}
/*.main-sidebar-menu-list-item .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    font-size:5%;
    border-radius: 6px;     
    position: absolute;
    z-index: 110;
}
.main-sidebar-menu-list-item:hover{
    background-color:rgb(0,150,0)
}*/

.main-sidebar-menu-list-item-link{
    display:block;     
    font-size:medium;
    text-decoration:none;
    color:white;
    padding-top:10%;
    padding-bottom:10%;
    margin:0;
 

}
.main-sidebar-menu-list-item-link:hover{
   
    background-color:rgb(0,150,0)

}

.main-sidebar-menu-list-item-icon{
    border-radius: 50%;
    border:solid black;
    margin:0;
    padding:0%;
    max-width: 100%;
    height: auto;
 }

@media only screen and (max-width: 1400px) {
#form1 #main-sidebar {      
        float: left;
   background-color:rgb(0,90,0);
        padding: 0;
        margin: 0;
        border: none;
        height: 100%;
        z-index: 100;
        width: 3%;
    }
.main-sidebar-menu-list-item {
border:none;
padding:0%;
margin:0;

}
.main-sidebar-menu-list-item-link{
     
    line-height: 3; 
    font-size: 0;
    color: transparent;

}
.main-sidebar-menu-list-item:hover .tooltiptext{
    visibility:visible;
}
#form1 #Main {
        width: 95%;
        float:right;
    }
}
@media only screen and (min-width: 2500px) {
    #form1 #main-sidebar {      
        float: left;
    background-color:rgb(0,90,0);
        padding: 0;
        margin: 0;
        border: none;
        height: 110%;
        z-index: 100;
        width: 8%;
    }

    #form1 #Main {
        width: 90%;
        float:right;
    }
}
@media only screen and (min-width: 3000px) {
#form1 #main-sidebar{      
        float: left;
    background-color:rgb(0,90,0);
        padding: 0;
        margin: 0;
        border: none;
        height: 110%;
        z-index: 100;
        width: 6%;
    }

#form1 #Main {
        width: 92%;
        float:right;
    }
}


#form1 #Main{
    float:right;
    width:88%;
    padding:0;
    margin:0;
    border:none;
    
}


